<!DOCTYPE html>
<html ng-app="facebookStats">
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <title>facegraphs</title>
        <link rel="shortcut icon" type="image/x-icon" href="/media/img/favicon.ico" />

        <!-- css -->
        <link type="text/css" rel="stylesheet" href="/media/css/style.css">

        <!-- js -->
        <!-- theirs -->
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular.min.js"></script>
        <script type="text/javascript" src="/media/js/lib/underscore-min.js"></script>

        <!-- angular libs -->
        <script type="text/javascript" src="/media/js/lib/angular/ngFacebook-master/ngFacebook.js"></script>

        <!-- mine -->
        <!-- angular files -->
        <script type="text/javascript" src="/media/js/app.js"></script>

        <!-- my angular modules -->
        <script type="text/javascript" src="/media/js/base/base.js"></script>

        <!-- facebookz -->
        <script type="text/javascript" src="/media/js/facebook/controllers.js"></script>
        <script type="text/javascript" src="/media/js/facebook/services.js"></script>

        <!-- d3z -->
        <script type="text/javascript" src="/media/js/d3/controllers.js"></script>
        <script type="text/javascript" src="/media/js/d3/directives.js"></script>
        <script type="text/javascript" src="/media/js/d3/services.js"></script>

    </head>
    <body ng-controller="facebookController as fb">
        <div id="fb-root"></div>
        <div class="header-wrapper">
            <div class="header">
                <!-- logged out view -->
                <span class="login header-nav header-item header-text cursor-pointer float-left" ng-click="fb.FBLogin()" ng-hide="fb.isLoggedIn">login to facebook</span>
                <!-- logged in view -->
                <span class="total header-nav header-item header-text cursor-pointer float-left" ng-click="fb.sortStuffs('total')" ng-show="fb.isLoggedIn">total</span>
                <span class="statuses header-nav header-item header-text cursor-pointer float-left" ng-click="fb.sortStuffs('statuses')" ng-show="fb.isLoggedIn">statuses</span>
                <span class="links header-nav header-item header-text cursor-pointer float-left" ng-click="fb.sortStuffs('links')" ng-show="fb.isLoggedIn">links</span>
                <span class="photos header-nav header-item header-text cursor-pointer float-left" ng-click="fb.sortStuffs('photos')" ng-show="fb.isLoggedIn">photos</span>
                <span class="videos header-nav header-item header-text cursor-pointer float-left" ng-click="fb.sortStuffs('videos')" ng-show="fb.isLoggedIn">videos</span>
                <span class="videos header-nav header-item header-text cursor-pointer float-left" ng-click="fb.getAllPosts()" ng-show="fb.isLoggedIn">get posts!</span>

                <span class="logout header-nav header-item header-text cursor-pointer float-right" ng-click="fb.FBLogout()" ng-show="fb.isLoggedIn">logout of facebook</span>
                <h3 class="username header-text header-item float-right" ng-show="fb.isLoggedIn">whatup {{ fb.facebookUserData.name }}?</h3>
            </div>
        </div>
        <div class="content">
            <div class="graph-container">
                <d3-bars bar-height="20" bar-padding="5" graph-title="Visualize facebook likes" ng-show="fb.isLoggedIn"></d3-bars>
            </div>
        </div>

    </body>
</html>
