@mixin overflow-scrolling($scroll-type) {
    -webkit-overflow-scrolling: $scroll-type;
}

body {
    background-color: #e9e9e4;
}
* {
    @include box-sizing(border-box);
}
*::selection {
    background-color: #3e4756;
    color: #d3d3c9;
}
*::-moz-selection {
    background-color: #3e4756;
    color: #d3d3c9;
}
a {
    font-size: 20px;
    font-family: helvetica;
    text-decoration: none;
}
input, textarea {
    font-size: 20px;
    padding: 5px;
}
h1,h2,h3,h4 {
    font-family: helvetica;
}
h1 {
    font-size: 60px;
    @include breakpoint(small) { font-size: 30px; }
}
h2 {
    font-size: 30px;
    padding: 12px;
    @include breakpoint(small) { font-size: 15px; }
}
.content {
    position: absolute;
    width: 100%;
    padding: 20px;
    @include overflow-scrolling(touch);
    overflow-y: auto;
    z-index: map-get($z-index, content);
    margin-top: map-get($header, height);

    .graph-container {
        width: 100%;
    }
}
.not-mobile {
    @include breakpoint(small) { display: none; }
}
.not-tablet {
    @include breakpoint(medium) { display: none; }
}
