$z-index: (
    header-dropdown: 9000,
    header: 8000,
    content: 7000
);
$header: (
    height: 33px,
    padding: 5px,
    background-color: #3b5998,
    border-bottom-color: #133783,
    text-color: #fff,
    hover-background-color: #4C4C52
);
$base: (
    link-color: #0E628F
)
