.app-container {
    padding: 25px;

    @include breakpoint($breakpoint-desktop) {
        padding: 100px;
    }

    .app-title {
        font-size: 30px;
        font-weight: 600;
        text-align: center;    
    }
}
